<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="org.eclipse.example.commands.SayHiHandler"
            id="org.eclipse.example.commands.hello"
            name="Say Hi">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="org.eclipse.example.commands.KeepCountHandler"
            id="org.eclipse.example.commands.count"
            name="Keep Count">
         <state
               class="org.eclipse.jface.menus.TextState"
               id="keepCount.count">
         </state>
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="org.eclipse.example.commands.CountServiceHandler"
            id="org.eclipse.example.commands.countByService"
            name="Count By Service">
      </command>
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="org.eclipse.example.commands.ShowLabelHandler"
            id="org.eclipse.example.commands.showLabel"
            name="Show Label">
         <commandParameter
               id="org.eclipse.example.commands.viewId"
               name="Label View Id"
               optional="true"
               values="org.eclipse.example.commands.ShowViewValues">
         </commandParameter>
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="org.eclipse.example.commands.MonitorCountHandler"
            id="org.eclipse.example.commands.monitorCount"
            name="Monitor Count">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
  			defaultHandler="org.eclipse.example.commands.ViewPageHandler"
     		id="org.eclipse.example.commands.viewPage"
      		name="View Page">
   		<commandParameter
         		id="org.eclipse.ui.commands.radioStateParameter"
         		name="State"
         		optional="false">
   		</commandParameter>
   		<state
         		class="org.eclipse.ui.handlers.RadioState:page"
         		id="org.eclipse.ui.commands.radioState">
   		</state>
	</command>
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="org.eclipse.example.commands.SetPerspectiveHandler"
            id="org.eclipse.example.commands.setPerspective"
            name="Set Perspective">
         <commandParameter
               id="org.eclipse.example.commands.perspectiveId"
               name="Perspective Id"
               optional="true"
               values="org.eclipse.example.commands.SetPerspectiveValues">
         </commandParameter>
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            id="org.eclipse.example.commands.cat"
            name="Cat Files">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.example.commands.hello"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+5 H">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=additions">
         <command
               commandId="org.eclipse.example.commands.hello"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.example.commands.toolbar"
               label="Command Example Toolbar">
            <command
                  commandId="org.eclipse.example.commands.monitorCount"
                  icon="images/collapseall.gif"
                  style="toggle">
            </command>
            <separator
                  name="additions" visible="false">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?after=additions">
         <menu
               label="View">
            <command
                  commandId="org.eclipse.example.commands.viewPage"
                  label="Page"
                  style="radio">
                  <parameter
                        name="org.eclipse.ui.commands.radioStateParameter"
                        value="page">
                  </parameter>
            </command>
            <command
                  commandId="org.eclipse.example.commands.viewPage"
                  label="Outline"
                  style="radio">
                  <parameter
                        name="org.eclipse.ui.commands.radioStateParameter"
                        value="outline">
                  </parameter>
            </command>
            <command
                  commandId="org.eclipse.example.commands.viewPage"
                  label="Notes"
                  style="radio">
                  <parameter
                        name="org.eclipse.ui.commands.radioStateParameter"
                        value="notes">
                  </parameter>
            </command>
            <command
                  commandId="org.eclipse.example.commands.viewPage"
                  label="Master"
                  style="radio">
                  <parameter
                        name="org.eclipse.ui.commands.radioStateParameter"
                        value="master">
                  </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.example.commands.toolbar?after=additions">
        <command
              id="org.eclipse.example.commands.perspectiveList"
              commandId="org.eclipse.example.commands.setPerspective"
              icon="images/editor_area.gif"
              style="pulldown">
        </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.example.commands.perspectiveList">
         <dynamic
               class="org.eclipse.example.commands.DynamicPerspectiveList"
               id="org.eclipse.example.commands.perspectiveList.dynamic">
         </dynamic>
         <separator
               name="other"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.example.commands.setPerspective"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=org.eclipse.example.commands.toolbar">
         <toolbar
               id="org.eclipse.example.commands.searchToolbar"
               label="Command Search Toolbar">
            <control id="org.eclipse.example.commands.search"
                  class="org.eclipse.example.commands.SearchContribution"/>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.example.commands.cat"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="org.eclipse.example.commands.CountServiceFactory">
         <service
               serviceClass="org.eclipse.example.commands.ICountService">
         </service>
      </serviceFactory>
      <sourceProvider
            provider="org.eclipse.example.commands.MyCountProvider">
         <variable
               name="currentCount"
               priorityLevel="activeContexts">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.example.commands.CatHandler"
            commandId="org.eclipse.example.commands.cat">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <reference
                     definitionId="org.eclipse.example.commands.textFiles">
               </reference>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.example.commands.textFiles">
            <and>
	       <count
	             value="+">
	       </count>
	       <iterate
	             ifEmpty="false"
	             operator="and">
	          <adapt
	                type="org.eclipse.core.resources.IResource">
	             <test
                    args="kindOf"
                    property="org.eclipse.core.resources.contentTypeId"
                    value="org.eclipse.core.runtime.text">
	             </test>
	          </adapt>
	       </iterate>
	       </and>
      </definition>
   </extension>

</plugin>
