<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.example.commands.toolbar.category"
            name="ChangeSet Operations">
      </category>
      <command
            categoryId="org.eclipse.example.commands.toolbar.category"
            id="org.eclipse.example.commands.toolbar.deliver"
            name="Deliver">
      </command>
      <command
            categoryId="org.eclipse.example.commands.toolbar.category"
            id="org.eclipse.example.commands.toolbar.rebase"
            name="Rebase">
      </command>
      <command
            categoryId="org.eclipse.example.commands.toolbar.category"
            id="org.eclipse.example.commands.toolbar.set"
            name="Set">
      </command>
      <command
            categoryId="org.eclipse.example.commands.toolbar.category"
            defaultHandler="org.eclipse.example.commands.toolbar.PendingHandler:true"
            id="org.eclipse.example.commands.toolbar.pending"
            name="Pending">
      </command>
      <command
            categoryId="org.eclipse.example.commands.toolbar.category"
            defaultHandler="org.eclipse.example.commands.toolbar.PendingHandler:false"
            id="org.eclipse.example.commands.toolbar.nonePending"
            name="None Pending">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.example.commands.toolbar.changeSetOperations"
               label="ChangeSet Operations">
            <command
                  commandId="org.eclipse.example.commands.toolbar.deliver"
                  icon="icons/redo_edit.gif"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.example.commands.toolbar.rebase"
                  icon="icons/undo_edit.gif"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.example.commands.toolbar.set"
                  icon="icons/paste_edit.gif"
                  style="push">
            </command>
            <control
                  class="org.eclipse.example.commands.toolbar.CurrentSetContribution"
                  id="org.eclipse.example.commands.toolbar.comboSet">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.example.commands.toolbar.DeliverHandler"
            commandId="org.eclipse.example.commands.toolbar.deliver">
      </handler>
      <handler
            class="org.eclipse.example.commands.toolbar.RebaseHandler"
            commandId="org.eclipse.example.commands.toolbar.rebase">
      </handler>
      <handler
            class="org.eclipse.example.commands.toolbar.SetHandler"
            commandId="org.eclipse.example.commands.toolbar.set">
      </handler>
   </extension>

</plugin>
