<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Example Command Category"
            id="com.example.cmd.commands.category">
      </category>
      <command
            name="Example Command"
            categoryId="com.example.cmd.commands.category"
            id="com.example.cmd.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.example.cmd.commands.sampleCommand"
            class="com.example.cmd.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Additions"
               mnemonic="d"
               id="com.example.cmd.menus.sampleMenu">
            <command
                  commandId="com.example.cmd.commands.sampleCommand"
                  mnemonic="S"
                  id="com.example.cmd.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
